.poster__wrap {
	display: flex;
}
.movie-count img {
	position: relative;
	z-index: 2;
}
.movie-count {
    display: inline;
	z-index: -1;
	position: relative;
	top: -0.4em;
	color: #272727;
	text-shadow: -1px 1px 0 #a0a0a0, 1px 1px 0 #a0a0a0, 1px -1px 0 #a0a0a0, -1px -1px 0 #a0a0a0;
	display: inline-flex;
	font-size: 12rem;
	font-weight: 500;
}
