.posterWrap {
  display: flex;
  margin-left: -50px;
}
.movieCount {
  display: inline;
  z-index: -1;
  position: relative;
  top: -100px;
  left: 35px;
  color: #272727;
  text-shadow: -1px 1px 0 #a0a0a0, 1px 1px 0 #a0a0a0, 1px -1px 0 #a0a0a0, -1px -1px 0 #a0a0a0;
  display: inline-flex;
  font-size: 17rem;
  font-weight: 500;
}
.posterBg {
  width: 150px;
  height: 200px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}
.posterBg:hover {
  transform: scale(1.125);
}
