.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.75);
}
.close-btn:hover {
  color: #ffffff;
}
.close-btn {
  background-color: transparent;
  color: rgba(244, 244, 244, 0.6);
  outline: none;
  border: none;
  font-size: 2.25rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
  border-bottom: #555 solid 1px;
}
.modal-title {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: #262626;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
