.field__wrap input.valid_field,
.field__wrap input:focus {
  background-color: aliceblue;
  color: #3c3c3c;
}
.field__wrap {
  overflow: hidden;
  cursor: text;
  background: rgb(71, 71, 71);
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 0;
}

.field__wrap input:focus + label {
  margin-top: -3.8em;
  font-size: 14px;
  position: relative;
  z-index: 15;
  color: #3c3c3c;
  font-weight: 500;
}

.field__wrap input {
  border: none;
  padding-top: 1em;
  height: 50px;
  display: block;
  font-size: 18px;
  text-indent: 0.5em;
  background-color: transparent;
  outline: none;
  /* margin-left: -4px; */
  position: relative;
  color: #fff;
  width: 100%;
  z-index: 10;
}

.field__wrap label {
  transition: all ease-in-out 200ms;
  position: relative;
  display: inline-block;
  z-index: 5;
  float: left;
  margin-top: -2.5em;
  font-size: 18px;
  color: #8c8c8c;
  margin-left: 0.5em;
  padding: 0.5em 0;
}
.is-error {
  position: relative;
  top: -10px;
  text-transform: capitalize;
}

.valid_field + label {
  margin-top: -3.8em !important;
  font-size: 14px !important;
  position: relative;
  z-index: 15;
  color: #3c3c3c;
  font-weight: 500;
}
