.form-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.form-header h1 {
  font-weight: 500;
  padding-bottom: 1em;
  padding-top: 0;
  margin: 0;
}

.form-wrapper {
  position: relative;
  z-index: 5;
  margin: 0;
  background-color: black;
  width: 100%;
  padding-top: 25%;
  padding: 3rem;
}

.user__help label input {
  position: relative;
  top: 1px;
}
.user-help-text a {
  text-decoration: none;
  color: #808080;
}
.user-help-text {
  padding: 8px 0;
  color: #808080;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.form-footer-text{
  color: #808080;
  font-size: large;
  margin:1em 0
}
.linkClass{
  text-decoration: none;
  color: #fff;
  font-size: large;
}
@media (min-width: 768px) {
  .form-container {
    height: 85vh;
  }
  .form-wrapper {
    padding: 3rem;
    width: 450px;
    margin: auto;
  }
}
