.footer {
    display: block;
    text-align: center;
    padding-top:2rem;
    padding-bottom:1rem;
    margin-top: 1em;
}
.developerSignature{
    font-size: 18px;
}
.mastHead{
    font-weight: 500;
    font-size: 18px;
}