.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 500px; */
  width: 100%;
}
.page-container h2 {
  font-size: 2rem;
  font-weight: 400;
  padding: 0.5rem;
  margin: 1rem 0;
  text-align: left;
  border-bottom: #888888 solid 2px;
}
.page-container .container-heading {
  font-size: 2.75rem;
  font-weight: 400;
  padding: 1rem;
  margin: 2rem 0;
  width: 80%;
  text-align: left;
  border-bottom: #888888 solid 2px;
}

.profiles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  column-gap: 15px;
  row-gap: 15px;
  flex-wrap: wrap;
}

.manage__profile {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.manage-profiles-wrapper.show {
  opacity: 1;
  z-index: 100;
  transform: scale(1);
  height: auto;
}

.manage-profiles-wrapper {
  height: 0;
  transform: scale(1.25);
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 6%;
  background-color: #000000 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all ease-in-out 0.125s;
}
.profile__manager__actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  padding: 0;
}
/* manage profile actions */
.manage__profile__action {
  padding: 3rem 0;
  display: flex;
  column-gap: 8px;
}
.manage__profile__action button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  outline: none !important;
  font-size: 1.25rem;
  padding: 10px 15px;
  cursor: pointer;
}
.manage__profile__action button.manage-btn {
  background: transparent;
  border: rgb(85, 85, 85) solid 4px;
  color: #ffffff;
  display: flex;
  min-width: 100px;
  justify-content: space-around;
  align-items: center;
}
.manage__profile__action .manage-btn:hover {
  border-color: #fff !important;
}

.manage__profile__action button.done__btn {
  background: #fff;
  border: #fff solid 4px;
  color: #000;
  width: 130px;
  justify-content: center;
  font-weight: bold;
}
.manage__profile__action button.done__btn:hover {
  background-color: #e50914;
  color: #ffffff;
  border: #e50914 solid 4px;
}

.profile__manager__actions .manage__profile__action button.done__btn {
  background: #fff;
  border: #fff solid 4px;
  color: #000;
  width: 130px;
  justify-content: center;
  font-weight: bold;
  border: #ffffff solid 2px;
}
.profile__manager__actions .manage__profile__action button.done__btn:hover {
  background-color: #e50914;
  color: #ffffff;
  border: #e50914 solid 4px;
}
.profile__manager__actions .manage__profile__action button.undone_btn {
  background: transparent;
  border: #888888 solid 2px;
  color: #888888;
  width: 120px;
  justify-content: center;
  font-weight: 500;
}
.profile__manager__actions .manage__profile__action button.undone_btn:hover {
  color: #ffffff;
  border: #ffffff solid 2px;
}
.profile__manager__actions .manage__profile__action button.undone_btn.delete_btn {
  width: 180px !important;
}
/* Form Edit Profile */
.form__edit__profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form__edit__profile .form__container {
  padding: 0 20px;
}
.form__container .nf__form__section {
  padding-bottom: 15px;
}
.form__container .nf__form__section:not(:first-child) {
  border-bottom: rgb(90, 90, 90) solid 1px;
}
.form__container .nf__form__section:not(:first-child) {
  padding-top: 8px;
}
.nf__form__group {
  display: flex;
  flex-direction: column;
}
.nf__form__group label {
  color: rgb(194, 194, 194);
  font-size: 26px;
  padding-top: 20px;
  padding-bottom: 8px;
}
.nf__form__group select {
  height: 35px;
  min-width: 80px;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: #fff solid 2px;
  padding: 0 6px;
}
.nf__form__group input {
  height: 45px;
  width: 250px;
  outline: none;
  border: none;
  background-color: #666;
  color: #ffffff;
  font-size: 20px;
  padding: 0 6px;
  font-weight: 500;
}
.nf__form__group.checkbox input[type="checkbox"] {
  background: transparent;
}
.nf__form__group.checkbox {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  margin-bottom: 15px;
}
.nf__form__group.checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.nf__form__group.checkbox label {
  position: relative;
  cursor: pointer;
}
.nf__form__group.checkbox label {
  font-size: 20px;
}
.nf__form__group.checkbox label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #888888;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  /* padding: 20px; */
  padding: 12px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}

.nf__form__group.checkbox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 27px;
  left: 9px;
  width: 8px;
  height: 16px;
  border: solid #888888;
  border-width: 0 3px 3px 0;
  transform: rotate(50deg);
}

.nf__form__group p {
  color: #ffffff;
  font-size: 20px;
  padding-top: 1em;
}
.nf__form__group .maturity__options {
  display: flex;
}
.nf__form__group .maturity__options div {
  background-color: #666;
  padding: 8px 15px;
  font-weight: 500;
  font-size: 18px;
}
.nf__form__group label.is_invalid {
  color: #e50914;
  font-size: 20px;
}
.nf__form__group input.is_invalid {
  border: #e50914 solid 1px;
}
/* sm */
@media (min-width: 576px) {
  .manage-profiles-wrapper {
    width: 80%;
  }
}
/* md */
@media (min-width: 768px) {
  .manage-profiles-wrapper {
    width: 60%;
  }
}
/* lg */
@media (min-width: 1024px) {
  .page-container .container-heading {
    font-weight: 400;
    padding: 1rem;
    text-align: left;
  }

  .profile__manager__actions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .manage-profiles-wrapper {
    width: 50%;
  }
}
/* xl */
@media (min-width: 1200px) {
  .manage-profiles-wrapper {
    width: 30%;
  }
  .manage-profiles-wrapper.fetched-profile {
    width: 100%;
  }
  .page-container .container-heading {
    width: 40%;
  }
}

.avtars__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  column-gap: 15px;
  row-gap: 15px;
}
